* {
  margin: 0;
  padding: 0;
  border: 0;
  color: $black;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  @include size(p);
  color: $black;
  font-family: $font-body;
  line-height: $base-line-height;
}

header {
  height: calc(100vh - 4rem);
  background-color: $white;
  background-image: url("/bg.png");

  div { z-index: 101; }
  img {
    @media only screen and(max-height: $vertical-rhythm * 14) {
      max-height: calc(100vh - 4rem);
    }
    max-height: $vertical-rhythm * 14;
    height: 100%;
  }
  h1 { font-family: $font-body; }
  .cursor { animation: 1s blink step-end infinite; }
}
